.App {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

*{
  font-family: 'Annie Use Your Telescope',Monaco, monospace;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
